@model NeaTICs_v2.Models.Events

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<fieldset>
    <legend>Events</legend>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Title)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Title)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Content)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Content)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Place)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Place)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.ImageToRead)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.ImageToRead)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.CreateAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.CreateAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.UpdateAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.UpdateAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.StartAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.StartAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.EndAt)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.EndAt)
    </div>

    <div class="display-label">
         @Html.DisplayNameFor(model => model.Url)
    </div>
    <div class="display-field">
        @Html.DisplayFor(model => model.Url)
    </div>
    <div class="display-label">
        @Html.DisplayNameFor(model => model.Image)
    </div>
    <div class="display-field">
        @Html.Raw("<img src=\"data:image/png;base64," + Model.ImageToRead + "\" style='width: 300px;'/>");
    </div>
</fieldset>
<p>
    @Html.ActionLink("Edit", "Edit", new { id=Model.ID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
